{% macro render_bootstrap_field(field, id, addon, no_label) %}
    {{ start_field(field) }}
        {% if not no_label %}
        <label class="control-label">{{ field.label.text }}</label>
        {% endif %}


        <div {% if addon %} class="input-group" {% endif %}>
            {% if addon %}<span class="input-group-addon">{{addon}}</span>{% endif %}
            {{ render_field(field, id, **kwargs) }}
            {{ field_errors(field) }}
        </div>
    {{ end_field() }}
{% endmacro %}


{% macro render_bootstrap_bool(field, id) %}
    <div class="checkbox">
        <label class="control-label">
            {{ field(id=id or field.title, **kwargs)|safe }}{{ field.label }}
            {{ field_errors(field) }}
        </label>
    </div>
{% endmacro %}

 {% macro render_bootstrap_day(field, id) %}
    <div class="checkbox">
        <label class="control-label ">
            {{ field(id=id or field.title, **kwargs)|safe }}{{ field.label }}
            {{ field_errors(field) }}
        </label>
    </div>
{% endmacro %}

{% macro render_field(field, id) %}
    {{ field(class='form-control', id=id or field.title, **kwargs)|safe }}
{% endmacro %}

{% macro field_errors(field) %}
    {% if field.errors %}
        {% for error in field.errors %}
            <span class="help-inline">[{{ error }}]</span><br>
        {% endfor %}
    {% endif %}
{% endmacro %}

{% macro start_field(field) %}
    <div class="form-group {% if field.errors %} error {% endif %}">
{% endmacro %}


{% macro end_field() %}
    </div>
{% endmacro %}